#fram_l{ background:url(images/ui_gird_tl.jpg) left no-repeat; height:22px; line-height:22px;}
#fram_r{ background:url(images/ui_gird_tr.jpg) right no-repeat; height:22px;}
#fram_b{background:url(images/ui_gird_tbj.jpg) repeat-x; height:22px; line-height:22px; clear:both;}
.tite{float:left; padding-left:10px; font-size:12px; font-weight:bold; color:#FFFFFF; clear:both;}
.divb{border-left: solid 1px #4BCDB9;border-right: solid 1px #4BCDB9;}
.tablethbj{background:url(images/table_thbj.png) repeat-x; height:24px; padding-right:20px;}
.framrighticon{ float:right; padding-right:5px; padding-top:0px; margin:0; height:22px; width:200px;}
.framrighticon ul{padding-top:0px; margin:0; height:22px;float:right;}
.framrighticon ul li{ list-style:none; float:left;}
.shuaxin{ background:url(images/shuaxin.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}
.shuaxin a { width:21px;height:20px;border: none;display:block;}
.shuaxin a:hover{ background:url(images/shuaxinh.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}
.yincang{ background:url(images/yincang.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}
.yincang a { width:21px;height:20px;border: none;display:block;}
.yincang a:hover{ background:url(images/yincangh.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}
.headertable{border-collapse: collapse;border-top: solid 1px #4BCDB9;font-size: 12px;cursor:hand;color: #565656;padding: 0px;margin: 0 auto;width: 100%; table-layout:fixed; float:left; clear:both; padding-right:20px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;;}
.headertable th{ background:url(images/tablebj.png) repeat-x top  left;color:#108F7A; text-align:center;  font-weight:bold; border-right: solid 1px #4BCDB9;border-bottom: solid 1px #4BCDB9; font-size: 12px; line-height:22px; height:18px; padding:0px; padding-left:2px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;; height:18px;}
.p_r{padding-right:20px;}	
.miantable{border-collapse: collapse;font-size: 12px;color: #565656;padding: 0px;margin: 0 auto;width: 100%; table-layout:fixed; float:left; clear:both;}
.miantable td {border-right: 1px solid #4BCDB9;border-bottom: 1px solid #4BCDB9;font-size: 12px; line-height:18px; word-wrap:break-word; padding-left:2px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;;}
.miantable td a{color:#1AAF08;text-decoration:none;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;;}
.miantable td a:hover{ color:#FF6D25;text-decoration:underline;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;; }
.miantable th{ background:url(images/tablebj.png) repeat-x top  left;color:#108F7A; text-align:center;  font-weight: normal; border-right: solid 1px #4BCDB9;border-bottom: solid 1px #4BCDB9;font-size: 12px; line-height:22px;padding-left:2px; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;; height:18px;}
	
ul{ margin:0px; padding:0px; list-style:none;}
li{margin:0px; padding:0px; list-style:none;}


.daochu{ background:url(images/daochu.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}
.daochu a { width:21px;height:20px;border: none;display:block;}
.daochu a:hover{ background:url(images/daochuh.png) left top no-repeat;width:21px;height:20px;border: none;display:block;}

.td_hover{ background-color:#dbfffa;}
.td_actived{background-color:#fff9cb;}