<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hw.hwsafe.corpinfo.dao.IB104Dao">

	<!-- 获取分页信息 -->
	<select id="retrieveByPage" parameterType="map" resultType="hashmap">
			select b.MA001,
			       b.MA002,
			       b.MA003,
			       s.login_name as MA003d,
			       b.MA004,
			       b1.MA004 as MA004D,
			       b.MA005,
			       to_char(b.MA005, 'yyyy-MM-dd') MA005D,
			       b.MA006,
			       b.MA007,
			       b.MA008,
			       decode(b.MA008, '0', '待审核', '1', '通过', '2', '未通过')MA008D
			  from B104 b
			  join B001 b1
			    on b.ma002 = b1.ma001
			  join s_user s
			    on b.ma003 = s.uuid
			<where>
				1 = 1
				<if test="po.ma002 != null and po.ma002 != ''">
					and b.MA002 = #{po.ma002}
				</if>
				<if test="po.ma003 != null and po.ma003 != ''">
					and b.MA003 = #{po.ma003}
				</if>
				<if test="po.ma004 != null and po.ma004 != ''">
					and b.MA004 = #{po.ma004}
				</if>
				<if test="po.ma005 != null and po.ma005 != ''">
					and b.MA005 = #{po.ma005}
				</if>
				<if test="po.ma006 != null and po.ma006 != ''">
					and b.MA006 = #{po.ma006}
				</if>
				<if test="po.ma007 != null and po.ma007 != ''">
					and b.MA007 = #{po.ma007}
				</if>
				<if test="po.ma008 != null and po.ma008 != ''">
					and b.MA008 = #{po.ma008}
				</if>
				<if test="po.ma009 != null and po.ma009 != ''">
					and b.MA009 = #{po.ma009}
				</if>
				<if test="po.ma010 != null and po.ma010 != ''">
					and b.MA010 = #{po.ma010}
				</if>
				<if test="po.ma011 != null and po.ma011 != ''">
					and b.MA011 = #{po.ma011}
				</if>
			</where>
			order by b.ma005 desc
	</select>

	<!-- 通过id获取实例 -->
	<select id="retrieveInstanceById" parameterType="String" resultType="com.hw.hwsafe.corpinfo.pojo.B104PO">
		select MA001, MA002, MA003, MA004, MA005, MA006, MA007, MA008, MA009, MA010, MA011
			from B104
			where MA001 = #{ma001}
	</select>

	<!-- 添加实例 -->
	<insert id="insertInstance" parameterType="com.hw.hwsafe.corpinfo.pojo.B104PO">
		insert into B104(MA001, MA002, MA003, MA004, MA005, MA006, MA007, MA008, MA009, MA010, MA011)
			values(
				#{ma001,jdbcType=VARCHAR},#{ma002,jdbcType=VARCHAR},#{ma003,jdbcType=VARCHAR},
				#{ma004,jdbcType=VARCHAR},#{ma005,jdbcType=TIMESTAMP},#{ma006,jdbcType=VARCHAR},
				#{ma007,jdbcType=VARCHAR},#{ma008,jdbcType=VARCHAR},#{ma009,jdbcType=VARCHAR},
				#{ma010,jdbcType=VARCHAR},#{ma011,jdbcType=VARCHAR}
			)
	</insert>

	<!-- 修改实例 -->
	<update id="updateInstance" parameterType="com.hw.hwsafe.corpinfo.pojo.B104PO">
		update B104
			set
				MA002 = #{ma002,jdbcType=VARCHAR}, MA003 = #{ma003,jdbcType=VARCHAR}, MA004 = #{ma004,jdbcType=VARCHAR}, 
				MA005 = #{ma005,jdbcType=TIMESTAMP}, MA006 = #{ma006,jdbcType=VARCHAR}, MA007 = #{ma007,jdbcType=VARCHAR}, 
				MA008 = #{ma008,jdbcType=VARCHAR}, MA009 = #{ma009,jdbcType=VARCHAR}, MA010 = #{ma010,jdbcType=VARCHAR}, 
				MA011 = #{ma011,jdbcType=VARCHAR}
			where MA001 = #{ma001}
	</update>
	
	<!-- 修改实例 -->
	<update id="updateStatus" parameterType="com.hw.hwsafe.corpinfo.pojo.B104PO">
		update B104
			set MA008 = 1
			where MA001 = #{ma001}
	</update>
	<!-- 修改实例 -->
	<update id="updateRefuseStatus" parameterType="com.hw.hwsafe.corpinfo.pojo.B104PO">
		update B104
			set MA008 = 2
			where MA001 = #{ma001}
	</update>

	<!-- 通过id删除实例 -->
	<delete id="deleteInstanceById" parameterType="String">
		delete from B104 where MA001 = #{value}
	</delete>
	
	
	<delete id="delBatchB104" parameterType="map" >
		DELETE FROM B104 WHERE MA001 IN
		<foreach collection="idArray" item="id" open="(" separator="," close=")">#{id}</foreach>
	</delete>
</mapper>