.jyjg{ background:url(../images/zzjgbg.jpg) left top no-repeat; margin:0 auto; width:535px; height:501px; padding-left:77px; padding-top:38px; }
.jyjg01{ padding-top:110px; width:180px; float:left;}
.jyjg li{ display:block;}
.jyjgorange{ color:#FF7200; margin-bottom:48px; line-height:19px;}
.jyjggree{ color:#429D00; line-height:19px;}
.jyjgnormal{ color:#10917A; margin-bottom:59px;line-height:17px;}
.jyjg02{ padding-top:66px; width:202px;float:left;}
.jyjg03{float:left;}