/*政情快递*/
.noticecontnet{ padding:8px; padding-right:0px; padding-top:12px;padding-left:0px; }
.noticeblock{
	float:left;
	width:49%;
	margin:0px;
	margin-left:7px;
	margin-bottom:8px;
	height:146px;
}
.noticebanner{ background:url(../images/topnoticebg.jpg) left top repeat-x; height:24px;}
.noticebannerright{ background:url(../images/rightnoticebg.jpg) right top no-repeat; height:24px;}
.noticebannerleft{ background:url(../images/tzleft.jpg) left top no-repeat; padding-left:29px;  height:24px; line-height:24px;color:#10917A; padding-right:16px;}
.noticebannerleft div{ float:left; width:100px;font-weight:bold;}
.noticebannerleft span a{ float:right; font-weight:normal; text-decoration:none;color:#10917A; font-family:Arial, Helvetica, sans-serif;}
.noticebannerleft span a:hover{color:#FF6000; }
.noticelist{ border:#5BDECA solid 1px; border-top-style:none; padding:8px; padding-top:3px; height:115px;margin-bottom:0px;}
.noticelist li{ background:url(../images/noticelibg.jpg) bottom  left repeat-x; height:25px; line-height:24px;}
.noticelist li a{ float:left; color:#565656; text-decoration:none; background:url(../images/noticeicon.jpg) left center no-repeat; padding-left:21px;}
.noticelist li a:hover{color:#FF6000;}
.noticelist li span{ float:right; color:#C6C6C6; font-size:11px; padding-right:0px; font-family:Verdana, Geneva, sans-serif; width:120px;}

.noticebg{ background:url(../images/noticebg.jpg) left top repeat-x; height:24px;}

.noticeleft{ background:url(../images/noticeleft.jpg) left top no-repeat; height:24px; padding-left:29px; }
.noticeright{ background:url(../images/noticeright.jpg) right top no-repeat; height:24px; color:#10917A; font-weight:bold; line-height:24px;}
.noticemain{
	border:#5BDECA solid 1px;
	border-top-style:none;
	padding:3px 7px; 
	background-color:#ECFAF9;
}
