#scq{
	background-color:#eaf6fd;
	border-bottom:dashed 1px #95cdee;
	height:60px;
}
#scq td{
	color: #036998;
	font-weight: bold;
}
#scq input{
	border:#65a5ca solid 1px;
	border-left-color:#73b5db;
	border-top-color:#73b5db;
	width:100%;
	height:21px;
}
#scq textarea{
	border:#65a5ca solid 1px;
	border-left-color:#35C0AA;
	border-top-color:#35C0AA;
	resize:none;
	width:100%;
	height:42px;
}
