body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新增讨论区_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:11px;
    width:963px;
    height:668px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:674px;
}

.u1 {
    position:absolute;
    left:2px;
    top:326px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新增讨论区_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:11px;
    width:963px;
    height:259px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:969px;
    height:265px;
}

.u3 {
    position:absolute;
    left:2px;
    top:122px;
    width:959px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:11px;
    width:963px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:291px;
    top:309px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:470px;
    top:309px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

