body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:22px;
    top:0px;
    width:366px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:372px;
    height:26px;
}

.u3 {
    position:absolute;
    left:3px;
    top:-11px;
    width:361px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u4 {
    position:absolute;
    left:375px;
    top:212px;
    width:320px;
    height:154px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

