body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主动预约_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:7px;
    top:9px;
    width:964px;
    height:645px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:970px;
    height:651px;
}

.u1 {
    position:absolute;
    left:2px;
    top:314px;
    width:960px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主动预约_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:559px;
    top:17px;
    width:412px;
    height:637px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:418px;
    height:643px;
}

.u3 {
    position:absolute;
    left:2px;
    top:310px;
    width:408px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_selected {
    background-image: url('../主动预约_files/u6_selected.png');
}

.u6_normal {
    background-image: url('../主动预约_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u9 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u12 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u15 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u18 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u21_selected {
    background-image: url('../主动预约_files/u6_selected.png');
}

.u21_normal {
    background-image: url('../主动预约_files/u6_normal.png');
}

.u21_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:22px;
    top:0px;
    width:46px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30_selected {
    background-image: url('../主动预约_files/u6_selected.png');
}

.u30_normal {
    background-image: url('../主动预约_files/u6_normal.png');
}

.u30_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u33 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:46px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_normal {
    background-image: url('../主动预约_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:17px;
    top:19px;
    width:519px;
    height:296px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:525px;
    height:302px;
}

.u38 {
    position:absolute;
    left:2px;
    top:140px;
    width:515px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../主动预约_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:17px;
    top:343px;
    width:519px;
    height:241px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:525px;
    height:247px;
}

.u40 {
    position:absolute;
    left:2px;
    top:112px;
    width:515px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:124px;
    top:610px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:269px;
    top:610px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:209px;
    top:411px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:63px;
    top:53px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:126px;
    top:53px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:209px;
    top:53px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:296px;
    top:53px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:384px;
    top:53px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:63px;
    top:96px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

