body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../TopicArea_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:1031px;
    top:994px;
    width:321px;
    height:455px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:455px;
}

.u1 {
    position:absolute;
    left:2px;
    top:220px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1031px;
    top:1075px;
    width:321px;
    height:13px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1041px;
    top:1037px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:1035px;
    top:996px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:1031px;
    top:1137px;
    width:321px;
    height:13px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:1041px;
    top:1099px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u9_container {
    position:absolute;
    left:1031px;
    top:1197px;
    width:321px;
    height:13px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:1041px;
    top:1159px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u12_container {
    position:absolute;
    left:1031px;
    top:1257px;
    width:321px;
    height:13px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:1041px;
    top:1219px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u15_container {
    position:absolute;
    left:1031px;
    top:1317px;
    width:321px;
    height:13px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1041px;
    top:1279px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:1031px;
    top:1376px;
    width:321px;
    height:13px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1041px;
    top:1338px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../TopicArea_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:192px;
    top:61px;
    width:375px;
    height:733px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:733px;
}

.u22 {
    position:absolute;
    left:2px;
    top:358px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../TopicArea_files/u0_normal.png');
}

.u23_container {
    position:absolute;
    left:1041px;
    top:1004px;
    width:321px;
    height:455px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:455px;
}

.u24 {
    position:absolute;
    left:2px;
    top:220px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u25_container {
    position:absolute;
    left:1041px;
    top:1085px;
    width:321px;
    height:13px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:1051px;
    top:1047px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:1045px;
    top:1006px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u29_container {
    position:absolute;
    left:1041px;
    top:1147px;
    width:321px;
    height:13px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1051px;
    top:1109px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u32_container {
    position:absolute;
    left:1041px;
    top:1207px;
    width:321px;
    height:13px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:1051px;
    top:1169px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u35_container {
    position:absolute;
    left:1041px;
    top:1267px;
    width:321px;
    height:13px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:1051px;
    top:1229px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u38_container {
    position:absolute;
    left:1041px;
    top:1327px;
    width:321px;
    height:13px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:1051px;
    top:1289px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../TopicArea_files/u2_normal.png');
}

.u41_container {
    position:absolute;
    left:1041px;
    top:1386px;
    width:321px;
    height:13px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:13px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:1051px;
    top:1348px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:224px;
    top:152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../TopicArea_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:220px;
    top:141px;
    width:320px;
    height:27px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:27px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:232px;
    top:214px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../TopicArea_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:220px;
    top:168px;
    width:327px;
    height:476px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:476px;
}

.u49 {
    position:absolute;
    left:2px;
    top:230px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../TopicArea_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:238px;
    top:653px;
    width:39px;
    height:37px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:37px;
}

.u51 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:240px;
    top:223px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../TopicArea_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:234px;
    top:248px;
    width:300px;
    height:45px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u54 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../TopicArea_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:234px;
    top:294px;
    width:300px;
    height:45px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../TopicArea_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:234px;
    top:429px;
    width:300px;
    height:45px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u58 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../TopicArea_files/u55_normal.png');
}

.u59_container {
    position:absolute;
    left:234px;
    top:339px;
    width:300px;
    height:45px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u60 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../TopicArea_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:234px;
    top:384px;
    width:300px;
    height:45px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../TopicArea_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:253px;
    width:180px;
    height:80px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u64 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../TopicArea_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:80px;
    height:3px;
}

.u65 {
    position:absolute;
    left:180px;
    top:265px;
    width:80px;
    height:10px;
    
}

