<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="src/jquery-1.9.1.min.js"></script>
<script src="src/jquery.percentageloader-0.1.js"></script>
<link rel="stylesheet" href="src/jquery.percentageloader-0.1.css">
<style type="text/css">
</style>
<script>
     $(function() {
     /* curValue/maxValue = curPerValue */
     var curValue = 150.0;
     var maxValue = 1000.0;
     var curPerValue = curValue/maxValue;
      	var topLoader = $("#topLoader").percentageLoader
          ({width: 210, height: 210, progress : curPerValue});
			topLoader.setValue(curValue.toString() + 'µg/m3');
     });      
</script>
</head>
<body bgcolor="#F7F2F1">
	<div id="container" align="center">
		<div id="topLoader" align="center"></div>
	</div>
</body>
</html>
